VITE_UMAMI_WEBSITE_ID=
VITE_UMAMI_SCRIPT_URL=https://cloud.umami.is/script.js
VITE_UMAMI_HOST_URL=
VITE_UMAMI_DOMAINS=gcginnovate.com,www.gcginnovate.com
VITE_UMAMI_TAG=gcg-website
VITE_UMAMI_PERFORMANCE=true
VITE_UMAMI_RESPECT_DNT=true
